<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  
  <div id="app">
    <p v-bind:title="title">{{ message }}</p>
    <input v-bind:type="typeInput">
    <hr>
    <h1 v-if= 'isHidden' align="center">VIETPRO</h1>
    <hr>
    <b>List of food</b>
    <ul>
      <li v-for="(item,index) in food"> {{ index }} {{ item }}</li>
    </ul>
    <button v-on:click="addFood()" >Add Food</button>

    {{ getName() }}
 <hr>
    <input type="text" v-model="txtInput"> {{ txtInput }}

 <p v-html = 'txtHTML'></p>

 <hr>
 <p v-once>{{ message }} {{ changeName() }}</p>
 {{ message }}

  </div>
  <script src="vue.min.js"></script>
  <script src="b1.js"></script>
</body>
</html>